/* 中文排版 */
body{
  font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
  -webkit-font-smoothing: antialiased;
}

article {
  overflow-x: hidden;
  font-size: 17px;
}
article p{
/* 这里的排版来自于 https://zhuanlan.zhihu.com/p/19891152 */
  text-align: justify;
  text-justify: ideographic;
  margin: 0;
  margin-bottom: 0.5em;
  text-indent: 2em;
  line-height: 1.7em;
  word-break: break-all;
}
article blockquote{
  border-left-color: #ddd;
  color: #808080;
  font-style: italic;
  font-size: 0.95em;
  margin: 20px 0 20px;
}
article ul{
  padding-left: 2em;
}
h1,h2,h3,h4,h5,h6{
  line-height: 1.7em;
  font-weight: bold;
}
img{
  max-width: 100%;
}

aside {
  color: #868279;
  padding: 10px 10px;
  background: #faf8f5;
  border: solid 1px #f7f4ed;
  border-bottom: solid 1px #f0e9db;
  border-radius: 3px; }
  aside h2 {
    color: #9e9b94;
    font-size: 24px;
    border: none;
    margin: 20px 0 10px 0;
    padding: 0; }
  aside p, aside li {
    font: 15px/22px "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; }
  aside li {
    line-height: 20px; }
  aside > p:first-child {
    margin-top: 0; }
  aside > p:last-child {
    margin-bottom: 0; }
  aside ul, aside ol {
    padding: 0 0 0 18px; }
  aside code {
    color: #666;
    font: normal 13px "Source Code Pro", Menlo, Consolas, Monaco, monospace; }
  aside img {
    padding: 0; }

aside + aside {
  margin-top: 10px; }

@media only screen and (min-width: 992px) {

  aside {
    position: absolute;
    padding: 0;
    background: none;
    border: none;
    padding-left: 22px;
    border-radius: 0;
    border-left: solid 8px #f0e9db; }
    aside p, aside li {
      font: 14px/20px "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; }
    }
    aside.col-md-5{
      position: absolute;
    }
