<!DOCTYPE html>
<html lang="zh-CN">
<head>
  {% include head.html %}
  <title>{{ site.title | escape }}</title>
</head>
<body>

  {% include header.html %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        {{ content }}
      </div>
      <div class="col-md-3 hidden-xs hidden-sm">
        <h3>About Me</h3>
        <img class="img-rounded img-responsive" src="/assets/photo.jpg">
        <p></p>
        <p>楚天阔</p>
        <p>想要做一名生产者。</p>
        <p>对游戏架构感兴趣？来读读我翻译的<a href="http://gpp.tkchu.me">《游戏编程模式》</a></p>
        <hr>
        <ul class="list-inline">
          {% include links.html %}
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="hidden-md hidden-lg">
    <ul class="list-inline text-center">
      {% include links.html %}
    </ul>
  </div>
  {% include footer.html %}
</body>

</html>
